@import "./Variable.scss";

.nav {
  @include flex(row, center, flex-start);
  width: 100%;
  height: 13vh;
  background-color: $blue;
  padding: 2rem 15%;
  .link {
    text-decoration: none;
    h1 {
      cursor: pointer;
      text-transform: uppercase;
      width: 100%;
      font-size: $small;
      color: $white;
      transition: $transitionFast;
      &:hover {
        color: $fullWhite;
        transition: $transitionFast;
      }
    }
  }
}

.header {
  @include flex(row, center, space-between);
  width: 100%;
  h1 {
    font-size: $medium;
    cursor: default;
    text-transform: capitalize;
    color: $black;
    font-weight: 800;
  }
}

.cardActivity {
  @include flex(column, flex-start, space-between);
  padding: 1.5rem;
  width: 100%;
  max-width: 600px;
  height: 250px;
  overflow: hidden;
  border-radius: 10px;
  background-color: $fullWhite;
  box-shadow: 0 0 5px rgba($color: $black, $alpha: 0.3);
  transition: $transitionNormal;

  .cardLink {
    text-decoration: none;
    cursor: pointer;
    width: 100%;
    height: 100%;
    h3 {
      font-size: $small;
      color: $fullBlack;
      font-weight: 700;
    }
  }
  .cardDate {
    @include flex(row, center, space-between);
    width: 100%;
    color: $gray;
    p {
      cursor: default;
      font-size: $xtraSmall;
    }
    button {
      cursor: pointer;
      border: none;
      background-color: transparent;
      display: flex;
      font-size: $small;
      transition: $transitionFast;
      @include scale($red);
    }
  }
  &:hover {
    box-shadow: 0 5px 10px rgba($color: $black, $alpha: 0.5);
    transition: $transitionNormal;
  }
}

.cardListItem {
  @include flex(row, center, space-between);
  padding: 1rem 2rem;
  width: 100%;
  border-radius: 10px;
  background-color: $fullWhite;
  box-shadow: 0 0 5px rgba($color: $fullBlack, $alpha: 0.3);
  transition: $transitionNormal;

  div:nth-child(1) {
    @include flex(row, center, space-between);
    gap: 1.5rem;
    input {
      width: 20px;
      cursor: pointer;
    }
    button {
      width: 20px;
      height: 20px;
      border-radius: 3px;
      transition: $transitionNormal;
    }
    .complate {
      @include flex(row, center, space-between);
      gap: 10px;
      opacity: 0.5;
      h3 {
        text-decoration: line-through;
      }
      button {
        background-color: $blue;
        border: 1px solid $white;
        color: $fullWhite;
        font-weight: 500;
      }
    }
    .noComplate {
      @include flex(row, center, space-between);
      gap: 10px;
      button {
        background-color: transparent;
        border: 1px solid $gray;
      }
    }
    h3 {
      font-size: $small;
      font-weight: 500;
      color: $black;
      cursor: default;
    }
    span {
      @include scale($black);
      transition: $transitionFast;
      display: flex;
      font-size: $xtraSmall;
      color: $gray;
      cursor: pointer;
    }
  }
  div:nth-child(2) {
    button {
      @include scale($red);
      transition: $transitionFast;
      border: none;
      background-color: transparent;
      display: flex;
      font-size: $small;
      color: $gray;
      cursor: pointer;
    }
  }
  &:hover {
    box-shadow: 0 5px 10px rgba($color: $black, $alpha: 0.5);
    transition: $transitionNormal;
  }
}

.blank {
  width: 100%;
  padding: 4rem;
  height: 100%;
  @include flex(row, center, center);
}

.buttonAdd {
  @include button($blue, $white);
}

.modal {
  @include flex(row, center, center);
  position: fixed;
  background-color: rgba($color: $fullBlack, $alpha: 0.5);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;

  .modalAdd {
    @include flex(column, flex-start, space-between);
    width: 50%;
    min-width: 420px;
    height: 400px;
    background-color: $fullWhite;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba($color: $black, $alpha: 0.7);

    .modalTitle {
      @include flex(row, center, space-between);
      border-bottom: 1px solid $white;
      padding: 15px 30px;
      width: 100%;

      h3 {
        text-transform: capitalize;
        font-size: $small;
        color: $black;
        cursor: default;
      }
      p {
        @include scale($fullBlack);
        font-size: $small;
        color: $gray;
        cursor: pointer;
        transition: $transitionFast;
      }
    }

    .modalForm {
      @include flex(column, flex-start, space-between);
      width: 100%;
      height: 100%;
      padding: 30px 30px;

      .formSelect,
      .formInput {
        @include flex(column, flex-start, space-between);
        gap: 10px;
        width: 100%;

        label {
          font-size: $xtraSmall;
          font-weight: 600;
          text-transform: uppercase;
        }

        input,
        select {
          font-size: $xtraSmall;
          padding: 10px;
          background-color: transparent;
          border: 2px solid $white;
          border-radius: 5px;
          width: 100%;

          &:focus {
            outline: none;
            border: 2px solid $blue;
          }
        }

        .widthSelect {
          width: 40%;
          min-width: 200px;
          padding: 10px;
          .selectOption {
            @include flex(row, center, flex-start);
            gap: 10px;
          }
        }
      }
      .formButton {
        @include flex(column, flex-end, flex-end);
        padding-top: 15px;
        width: 100%;
        border-top: 1px solid $white;
        button {
          width: 150px;
          @include button($blue, $white);
        }
      }
    }
  }

  .modalDelete {
    @include flex(column, center, center);
    gap: 1.5rem;
    padding: 2rem;
    background-color: $fullWhite;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba($color: $black, $alpha: 0.7);

    p,
    h3 {
      text-align: center;
      font-size: $small;
    }
    div:nth-child(3) {
      @include flex(row, center, center);
      gap: 10px;
      width: 100%;
      button {
        width: 120px;
        &:nth-child(1) {
          @include button($white, $fullBlack);
        }
        &:nth-child(2) {
          @include button($red, $fullWhite);
        }
      }
    }
  }
}

.alert {
  @include flex(row, center, center);
  position: fixed;
  top: 20px;
  left: 0;
  width: 100%;
  div {
    @include flex(row, center, center);
    gap: 10px;
    padding: 15px 25px;
    border-radius: 10px;
    background-color: $fullWhite;
    span {
      display: flex;
      font-size: $small;
      color: #00a790;
    }
    p {
      font-size: $xtraSmall;
      text-transform: capitalize;
      font-weight: 500;
    }
  }
}

.loading {
  @include flex(column, center, center);
  width: 100%;
  height: 100%;
  min-height: 87vh;
  background-color: $white;
}

@media only screen and (min-width: 0px) and (max-width: 576px) {
  .header {
    h1 {
      font-size: $small;
    }
  }

  .buttonAdd {
    font-size: $xtraSmall;
  }

  .modal {
    .modalDelete {
      p,
      h3 {
        text-align: center;
        font-size: $xtraSmall;
      }
      div:nth-child(3) {
        button {
          width: 100px;
          font-size: 0.5rem;
        }
      }
    }
  }

  .cardListItem {
    padding: 1rem;
    figurecaption {
      gap: 1rem;
      p {
        font-size: $xtraSmall;
      }
    }
  }
}
